/* src/components/Blog.css */
.blog-container {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f02d;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-header {
  display: flex;
  align-items: center;
  background-color: #5ba4e0;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
               'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
               sans-serif;
}

.blog-header img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.blog-content {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.blog-item {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 10px;
  position: relative;
  transition: all 0.3s ease;
}

.blog-item.expanded {
  grid-column: span 2;
}

.blog-thumbnail-wrapper {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}

.blog-thumbnail {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.blog-thumbnail-wrapper:hover .blog-thumbnail {
  transform: scale(1.1);
}

.blog-title {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  color: #333333;
  cursor: pointer;
}

.blog-date {
  font-size: 14px;
  color: #777777;
  margin-bottom: 10px;
}

.blog-content-wrapper {
  max-height: 300px; /* Altura máxima para el contenedor del contenido */
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido excede la altura máxima */
  padding: 10px;
  border-top: 1px solid #ccc;
}

.blog-content {
  font-size: 14px;
  color: #555555;
  line-height: 1.6; /* Ajusta el espaciado entre líneas para mejorar la legibilidad */
  text-align: justify; /* Justifica el texto para que se ajuste al contenedor */
}

.blog-content img {
  max-width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
  height: auto;
  display: block;
  margin: 10px 0; /* Añade un margen superior e inferior a las imágenes */
}

/* Estilos para modo oscuro */
.App.dark-mode .blog-container {
  background-color: #3f516865;
}

.App.dark-mode .blog-header {
  background-color: #3f5168;
  color: #f0f0f0;
}

.App.dark-mode .blog-item {
  background-color: #333333;
}

.App.dark-mode .blog-title {
  color: #f0f0f0;
}

.App.dark-mode .blog-date {
  color: #cccccc;
}

.App.dark-mode .blog-content {
  color: #dddddd;
}

/* Media Queries */
@media (max-width: 768px) {
  .blog-container {
      width: 90%;
  }

  .blog-header {
      font-size: 18px;
  }
}

@media (max-width: 480px) {
  .blog-container {
      width: 95%;
  }

  .blog-header {
      font-size: 16px;
  }
}

/* Estilos para el botón de Sign in with Google */
.google-signin-button {
  background-color: #4285F4; /* Color de fondo de Google */
  color: white; /* Color del texto */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.google-signin-button:hover {
  background-color: #357AE8; /* Color de fondo al pasar el mouse */
}

.google-signin-button:active {
  background-color: #2F5BB7; /* Color de fondo al hacer clic */
}

.google-signin-button::before {
  content: '';
  background-image: url('/images/google-icon.png'); /* Ruta a la imagen en la carpeta public */
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Estilos para el botón de Send */
.comments button[type="submit"] {
  background-color: #4CAF50; /* Color de fondo verde */
  color: white; /* Color del texto */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.comments button[type="submit"]:hover {
  background-color: #45a049; /* Color de fondo verde más oscuro al pasar el mouse */
}

.comments button[type="submit"]:active {
  background-color: #3e8e41; /* Color de fondo verde más oscuro al hacer clic */
}

/* Estilos para el botón de Log out */
.comments button {
  background-color: #173e6f; /* Color de fondo rojo */
  color: white; /* Color del texto */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.comments button:hover {
  background-color: #78a2fd; /* Color de fondo rojo más oscuro al pasar el mouse */
}

.comments button:active {
  background-color: #173e6f; /* Color de fondo rojo más oscuro al hacer clic */
}

/* Estilos para el input de comentarios */
.comments textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Estilos para los botones de comentarios */
.comment-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Estilos para los comentarios */
.comments ul {
  list-style: none;
  padding: 0;
}

.comments li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.comment-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-text {
  font-size: 14px;
  color: #555555;
}

/* Estilos para el correo electrónico y la fecha */
.comment-email {
  font-size: 14px;
  color: #333333;
  margin-right: 10px;
}

.comment-date {
  font-size: 14px;
  color: #777777;
}